.CatPage {
    background-color: antiquewhite;
    display: flex;
    margin-top: 2rem;
}
.catDiv{
    display:flex;
    margin:0;
    padding:0.5rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:48%;
}

.catDescription {
    display: inline-block;
    width: 100%;
}

.catImage{
    height: 17rem;
    max-width: 23rem;
    min-width: 5rem;
    margin-top: 2rem;
}

.catButtons{
    height: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    background: #e46140;
    color: #fff;
    font-size: 1.2em;
    border: 1px solid #fb5b33;
    margin-top: 0.5rem;

}
h2{
    font-size: 2rem
}
