.searchBox {
    display: block;
    box-sizing: border-box;
    margin: 0.5rem auto;
    width: fit-content;
    max-width: 100%;
    padding: 25px 60px;
    border: 1px solid #dc5431;
    border-radius: 8px;
    background: #e46140;
    box-shadow: 2px 3px 8px #aaa;
    text-align: left;
}

.searchBox .Select{
    box-sizing: border-box;
    width: fit-content;
    display: inline-block;
    min-width: 300px;
}


.searchBox label {
    display: block;
    margin: 10px 0 15px;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
}

@media(max-width: 1336px) {

    .searchBox {
        width:100%;
        padding: 25px 10px;
        margin-left:0;
        margin-right:0;
    }
    .searchBox .Select {
        min-width: 100px;
        width: 50%;
    }
}

@media(max-width: 700px) {

    .searchBox {
        width:100%;
        padding: 25px 10px;
        margin-left:0;
        margin-right:0;
    }
    .searchBox .Select {
        min-width: 100px;
        width: 100%;
    }
}
