div.add-cat-container {
    padding-top: 6rem;
}

.add-cat-form {
    margin: 0 auto;
    width: fit-content;
    background: #ffffffcf ;
    border-radius: 5px;
    box-shadow: 2px 3px 8px #747474;
}

h2 {
    border-bottom: 1px solid #ddd;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 1.6rem 1.5rem 0.5rem;
}

form {
    padding: 0 1.5rem 2rem;
}

label {
    margin-right: 1rem;
}

input[type="text"] {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 80%;
}

form > div{
    padding: 0.5rem 0;
}