.App {
  text-align: center;
  padding-top: 6rem;
  width: 100vw;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#e46140;
}
.catContainer {
  width:60%;
  height: 12rem;
  margin:0;
  background-color: #f1f1f1;
  padding: 2rem;
  display:flex;
}
.catContainer img {
  height: 11rem;
  width: auto;

}
.catContainerDescription {
  align-self:center;
  justify-content: space-between;
}

.catContainer p{
  display:inline-block;
  margin:0;
  width:70%;
}

.catContainer button{
  display:inline-block;
  height: 1.5rem;
  background-color: red;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  justify-self:right;
}



