@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:400,700,900&subset=latin-ext');

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  margin: 0;
  /*background: url('https://preview.ibb.co/mQvBdy/cat_pattern3.jpg') repeat;*/
  /*background-attachment: fixed;*/
  background: #fff2f2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MessageError{
    color: red;
    margin: 0
}

