.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.NavBar {
  background-color: #f04510;
  height: 2rem;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  font-family: "Lato Heavy", sans-serif;
  font-size: 1.2rem;
  color: antiquewhite;
  z-index: 9999;
  box-shadow: 0 3px 10px #000c;
}

.NavBar li {
  list-style: none;
  display:inline-flex;
  margin: 0 0.5rem;
}

.catContainer {
  width:70%;
  height: 5rem;
  display: flex;
}
.catContainer img {
  height: 4rem;
  width: auto;
}

.catContainer p{
  display:inline-block;
}

.catContainer button{
  display:inline-block;
  height: 1.5rem;
  background-color: red;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
}



