nav{
    background-color: #f04510;
    display:block;
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: "Lato Heavy", sans-serif;
    font-size: 1.2rem;
    color: antiquewhite;
    z-index: 9999;
    box-shadow: 0 3px 10px #000c;
}

nav li{
    list-style: none;
    display: inline-block;
    margin: 5px 15px;
}
nav li:hover{
    background: #f59379;
    border-radius: 5px;
}

nav ul {
    margin: 0 2rem;
    padding: 0;
    text-align: left;
}

nav a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #5f5e5e;
    transition: text-shadow 0.2s;
}

.logo{
    float: left;
    width: 7rem;
    padding-top: 4px;
    margin: 0 2rem;
}

.logo img{
    width: 100%;
    height: auto;
}

div.clear{
    clear: both;
}

.menuRight{
    display: inline;
    float: right;
}