
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color:#e46140;*/
    padding-top: 20px;
    padding-bottom: 20px;
    /*border: 1px solid #dc5431;*/
    /*border-radius: 8px;*/
    /*box-shadow: 2px 3px 8px #aaa;*/
}
.catContainer {
    width:60%;
    margin: 0.5rem;
    background-color: #ffffff;
    padding: 0.5rem;
    display:flex;
    height:auto;
    box-shadow: 2px 3px 8px #aaa;
    border-radius: 3px;
}

.catContainerDescription {
    justify-content: space-between;
    flex-grow: 1;
}

.catContainer .description{
    padding-right: 20px
}

.catContainer h3 {
    margin: 1rem;
    display: inline-block;
    color: #1e262c;
}

.catContainer button{
    cursor: pointer;
    margin: 1rem;
    border: 1px solid #e46140;
    border-radius: 5px;
    padding: 0.7rem 3rem;
    background: #e46140;
    color: white;
    font-size: 1.3em;
    font-weight: 900;
}

.catContainer button:hover{
    background: #f75a32;
}

.catContainerImage {
    min-width: 14rem;
    height:12rem;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 7px #272727c7;
    background-position: center;

}

.catContainerName {
    font-size:2rem;
    justify-content: center;
}


@media (max-width: 1010px){


    .catContainerName {

    }
    .catContainerDescription {
        width:100%;
    }
    .catContainer p{
        width:90%;
        text-align: justify;
    }
    .catContainer{
        width: 90%;
        padding: 0.5rem 0 0.25rem 0;
        flex-wrap: wrap;
        height: auto;
        justify-content:center;
    }
    .list {
        width: 100%;
    }
}


.iconVenus{
    color: #fb89c2;
}
.iconMars{
    color: dodgerblue;
}

.pagination {

    min-width: 40%;
    justify-content: center;
    display:inline-flex;
    align-items: center;
    margin-right:0;
    margin-left:0;
    padding:10px;
    border-radius: 1.5rem;
    background-color: #e46140;
}


.pagination li{
    list-style: none;
    border: 1px solid #e46140;
    height: 100%;
    width: 2rem;
    background-color: #e46140;

}

.pagination a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;

}
.pagination li.active {
    background-color: #5f5e5e;
    border-radius:10px 10px 10px 10px;
}

ul.pagination:first-child{
border-radius:10px 10px 10px 10px;
}