
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color:#e46140;*/
    padding-top: 20px;
    padding-bottom: 20px;
    /*border: 1px solid #dc5431;*/
    /*border-radius: 8px;*/
    /*box-shadow: 2px 3px 8px #aaa;*/
}
.catContainer {
    display:flex;
    width:60%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    justify-content: center;
    background-color: #ffffffcf;
    box-shadow: 2px 3px 8px #aaa;
}

.catContainerDescription {
    flex-grow: 1;
}

.catContainer .description{
    /*padding-right: 20px;*/
    text-align: justify;
    margin: 0 auto;
    padding: 0 10px;
    text-align: justify;
}

.catContainer h3 {
    margin: 1rem;
    display: inline-block;
    color: #1e262c;
}

button.CTA{
    float: right;
    cursor: pointer;
    margin: 1rem;
    border: 1px solid #e46140;
    border-radius: 5px;
    padding: 0.7rem 3rem;
    background: #e46140;
    color: white;
    font-size: 1.3em;
    font-weight: 900;
}

.catContainer button:hover{
    background: #f75a32;
}

.catContainerImage {
    min-width: 14rem;
    height:12rem;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 7px #272727c7;
    background-position: center;

}

.catContainerName {
    font-size:2rem;
    justify-content: center;
}


@media (max-width: 910px){
    .catContainer{
        width: 100%;
        padding: 0.5rem 0 0.25rem 0;
        margin: 0;
        border-radius: 0;
        border-bottom: 1px solid #ddd;
    }
    .list {
        width: 100%;
    }
}

@media (max-width: 600px){
    .catContainer{
        flex-wrap: wrap;
    }
    .catContainerName{
        text-align: center;
    }
    .catContainer button{
        float: none;
    }
    .catContainer .description{
        text-align: center;
    }
    .description p{
        text-align: justify;
    }
}


.iconVenus{
    color: #fb89c2;
}
.iconMars{
    color: dodgerblue;
}

.clear{
    clear: both;
}